body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./assets/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.section, .container {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}
.container {
  text-align: center;
  margin-top: 3rem;
  margin-left: 90vw;
}
/* Login CSS */

.login_container {
  height: 100%;
  width: 50%;
  min-height: 30vw;
  margin-left: 25%;
  margin-top: 8%;
  background-color: aqua;
  display: flex;
  border-radius: 5px;
}

.left_login {
  text-align: center;
  background-color:rgba(0, 0, 0, 0.5);
  flex: 1;
  background-image: url('./assets/login.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color:rgba(255, 255, 255, 1);
  text-shadow: 10px 10px 15px rgba(0, 0, 0, 0.7);
  border-radius: 5px 0px 0px 5px;
}

.right_login {
  justify-content: center;
  display: inline-block;
  text-align: center;
  background-color: aliceblue;
  flex: 1;
  border-radius: 0px 5px 5px 0px;
}

.login_btn{
  display: grid;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  background: rgba(255, 255, 255, 1);
  width: 20%;
  margin-left: 1.25%;
  border-radius: 5px;
  border-color: transparent;
  color: rgba(0, 0, 0, 1);
  padding: 0.5rem 1rem;
  cursor: pointer;
  position: absolute;
}

.login_btn:hover {
  background: rgba(254, 254, 254, 1);
  color: lightgray;
}

/* Sidebar CSS */

/* opening and closing the sidebar */ 


.togglesidebar {
  margin: 2vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.opensidebar {
  color: rgb(255, 255, 255);
  font-size: 50px;
  background: none;
}

.closesidebar {
  margin-left: -10px;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-;
  align-items: center;
}

/* Actual sidebar aesthetics */

.sidebar {
  background-color: rgb(23, 9, 40);
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.sidebar.active {
  left: 0;
  transition: 350ms;
}


/* sidebar text */

.sidebar_info {
  margin-left: -30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 8px 8px 16px;
  list-style: none;
  height: 60px;
}

.sidebar_info a { /* for links */
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.sidebar_info a:hover {
  background-color: rgb(100, 64, 145);
}


/* Homepage CSS */

.homepage_container {
  height: 100%;
  width: 60%;
  min-height: 30vw;
  margin-left: 20%;
  background-color: aqua;
  display: flex;
  border-radius: 5px;
}

.left_homepage {
  text-align: center;
  background-color:rgba(0, 0, 0, 0.5);
  flex: 1;
  background-image: linear-gradient(rgb(185, 131, 208), rgb(111, 94, 177));
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color:rgba(255, 255, 255, 1);
  text-shadow: 10px 10px 15px rgba(0, 0, 0, 0.7);
  border-radius: 5px 0px 0px 5px;
}

.right_homepage {
  justify-content: center;
  display: inline-block;
  text-align: center;
  background-color: aliceblue;
  flex: 1;
  border-radius: 0px 5px 5px 0px;
}

.homepage_btn{
  display: grid;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  background: rgba(255, 255, 255, 1);
  width: 20%;
  margin-left: 1.25%;
  border-radius: 5px;
  border-color: transparent;
  color: rgba(0, 0, 0, 1);
  padding: 0.5rem 1rem;
  cursor: pointer;
  position: absolute;
}

.homepage_btn:hover {
  background: rgba(254, 254, 254, 1);
  color: rgba(254, 254, 254, 1);
}

.homepage_title {
  height: 100%;
  width: 50%;
  min-height: 30vw;
  margin-left: 25%;
  margin-top: 8%;
  display: flex;
  text-align: center;
  
}

/* Search bar CSS */

.searchbar { /* container */
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  text-align: left;
  margin-left: -30%;
  min-width: 15vw;
  margin: 10px auto;
  border-radius: 3px;
}
.searchbar input { /* text */
  font-family: 'Roboto', sans-serif;
  min-width: 15vw;
  margin-left: -30%;
  background: rgba(254, 254, 254, 1);
  border: transparent;
  border-radius: 5px;
  padding: 0.6rem 0.5rem;
}

.searchbar_button{
  display: inline-flex;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  background: rgba(255, 255, 255, 1);
  width: 9%;
  margin-left: 1.25%;
  border-radius: 5px;
  border-color: transparent;
  color: rgba(0, 0, 0, 1);
  padding: 0.5rem 1rem;
  cursor: pointer;
  position: absolute;
}

.searchbar_button:hover {
  background: rgba(254, 254, 254, 1);
  color: lightgrey;
}

.searchbar_button:active {
  background: rgb(218, 182, 230);
  color: white;
}


/* Playlists CSS */

/* General CSS */

span {
  margin-left: 12px;
}
  
h1 {
  font-size: 3rem;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
