# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variable files
.env

# For Macs
.DS_Store

# Long package-lock (just use package.json)
package-lock.json